<footer id="site-footer" class="block-element">
    {% if site.data.social_links %}
        <div id="site-footer-social-links" aria-label="social media links">
            {% for link in site.data.social_links %}
                <a class="social-link" href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
                    {% case link.type %}
                        {% when 'facebook' %}
                            <img class="social-logo" src="/assets/logos/facebook-logo.svg" alt="facebook"/>
                        {% when 'github' %}
                            <img class="social-logo" src="/assets/logos/github-logo.png" alt="github"/>
                        {% when 'npm' %}
                            <img class="social-logo" src="/assets/logos/npm-logo.svg" alt="npm"/>
                        {% when 'thingiverse' %}
                            <img class="social-logo" src="/assets/logos/thingiverse-logo.svg" alt="thingiverse"/>
                        {% when 'twitter' or 'x' %}
                            <img class="social-logo" src="/assets/logos/twitter-logo.svg" alt="twitter"/>
                        {% else %}
                            <img class="social-logo" src="" alt="{{ link.name }}"/>
                    {% endcase %}
                </a>
            {% endfor %}
        </div>
    {% endif %}
    <div id="site-footer-description" aria-label="website description">
        {{ site.description }}
    </div>
</footer>
