@use 'variables';

@function invert($dimension) {
  @return #{$dimension * -1};
}

.block-element {
    background-color: variables.$block-background-color;
    border-radius: variables.$block-border-radius;
    padding: variables.$block-vertical-padding variables.$block-horizontal-padding;
    border: 1px solid variables.$outline-color;
    margin: 0 0 variables.$block-spacing 0;

    & > :last-child {
        margin-bottom: 0;
    }
    
    .section-header {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid variables.$outline-color;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        margin: invert(variables.$block-horizontal-padding);
        margin-top: invert(variables.$block-vertical-padding);
        margin-bottom: 0px;
        
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
            margin: 0px;
        }
    }
    
    .full-width {
        margin-left: invert(variables.$block-horizontal-padding);
        margin-right: invert(variables.$block-horizontal-padding);
    }
}

