---
---

<head>
    {% if page.title %}
        {% assign title = page.title %}
    {% else %}
        {% assign title = site.title %}
    {% endif %}
    
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />

    {% if page.description %}
        {% assign description = page.description %}
    {% else %}
        {% assign description = site.description %}
    {% endif %}

    <meta property="og:description" content="{{ description }}" />

    {% if page.preview_image %}
        {% assign preview_image = page.preview_image %}
    {% else %}
        {% assign preview_image = site.preview_image %}
    {% endif %}

    <meta property="og:image" content="{{ preview_image }}" />

    <meta property="og:type" content="website" />

    <meta property="og:url" content="{{ site.url | append: page.url }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/assets/styles/layouts/default.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Coda">
    <script src="/assets/scripts/main.js" type="application/javascript"></script>
</head>
<body>
    {% include nav.html %}
    
    <div id="content-area">
        {% include header.html %}

        <main>
            {{ content }}
        </main>
    
        {% include footer.html %}
    </div>
</body>
